*,
*::before,
*::after {
    box-sizing: border-box;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}




ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a:hover {
    color: $primary;
    cursor: pointer;
    /*增加cursor:pointer 登入才會有箭頭？*/
}




.card__img__xs {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.card__img__s {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.card__img__lg {
    height: 615px;
    width: 100%;
    object-fit: cover;

}